@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
}
a {
  text-decoration: none;
}
.footer {
  width: 100% !important;
  background: #1a1d27;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_in{
  width: 100% !important;
  height: 90% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 80px !important;
}
.footer .footer-top {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-top ul li a {
  color: rgb(177, 177, 177) !important;
}
.footer .footer-top ul {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(177, 177, 177) !important;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer .footer-top ul img {
  width: 151px;
  height: 48px;
}
.footer .footer-top ul li:nth-child(1) a {
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
  margin-bottom: 10px;
}
.footer .footer-bottom {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-bottom div {
  display: flex;
  gap: 50px;
}
.footer .footer-bottom div .footer-bottom-icons {
  display: flex;
  gap: 16px;
}
.footer .footer-bottom div h4 span a {
  color: rgb(177, 177, 177) !important;
}
.footer .footer-bottom div h4 {
  display: flex;
  gap: 25px;
  color: rgb(177, 177, 177) !important;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-bottom h4 {
  color: rgb(177, 177, 177) !important;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1350px) {
  .footer {
    height: auto;
    padding: 20px 0;
  }

  .footer .container {
    max-width: 100% !important;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer .footer-top {
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    gap: 15px !important;
  }

  .footer .footer-top ul {
    min-width: 45%;
    align-items: center;
    font-size: 14px;
    gap: 10px;
  }

  .footer .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer .footer-bottom div div {
    display: flex;
    flex-direction: row;
  }
  .footer .footer-bottom div h4 {
    display: flex;
    font-size: 12px !important;
  }
  .footer .footer-bottom h4 {
    font-size: 13px;
  }
  .footer .footer-bottom div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer .footer-top ul img {
    width: auto;
    height: 25px;
  }
}
@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 20px 0;
  }

  .footer .container {
    max-width: 100% !important;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer .footer-top {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px !important;
  }

  .footer .footer-top ul {
    min-width: 45%;
    align-items: center;
    font-size: 14px;
    gap: 10px;
  }

  .footer .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer .footer-bottom div div {
    display: flex;
    flex-direction: row;
  }
  .footer .footer-bottom div h4 {
    display: flex;
    font-size: 12px !important;
  }
  .footer .footer-bottom h4 {
    font-size: 13px;
  }
  .footer .footer-bottom div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer .footer-top ul img {
    width: auto;
    height: 25px;
  }
}
