@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  width: 100% !important;
  min-height: 88px;
  background: #4934db !important;
  border-bottom: 0.1px solid #8a7eda;
  color: #fff;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}
.header_in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-logo {
  width: 120px;
  height: auto;
}
.header .header-ul {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-ul ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.header .header-ul ul li a {
  color: #fff !important;
  text-decoration: none;
}
.header .header-ul div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.header-hamburger span {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

@media (max-width: 1300px) {
  .header {
    width: 100% !important;
    position: fixed;
    padding: 0 !important;
    background: #4934db !important;
    z-index: 999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100% !important;
    justify-content: space-between;
  }

  .header .header-ul {
    width: 150% !important;
    height: calc(100vh - 100px);
    display: none;
    flex-direction: column;
    background: #4934db;
    position: absolute;
    top: 88px;
    right: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto !important;
  }

  .header .header-ul ul {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header .header-ul div {
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }

  .header-hamburger {
    display: flex;
  }

  .header-ul.active {
    width: 100% !important;
    height: 150px !important;
    display: flex;
    z-index: -1 !important;
    margin-top: 0px;
  }
  .header .header-ul ul li a {
    color: #fff !important;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .header {
    width: 100% !important;
    position: fixed;
    padding: 0 !important;
    background: #4934db !important;
    z-index: 999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100% !important;
    justify-content: space-between;
  }

  .header .header-ul {
    max-width: 800px !important;
    height: calc(100vh - 100px);
    display: none;
    flex-direction: column;
    background: #4934db;
    position: absolute;
    top: 88px;
    right: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .header .header-ul ul {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header .header-ul div {
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }

  .header-hamburger {
    display: flex;
  }

  .header-ul.active {
    width: 100% !important;
    height: 150px !important;
    display: flex;
    z-index: -1 !important;
    margin-top: 0px;
  }
  .header .header-ul ul li a {
    color: #fff !important;
    text-decoration: none;
  }
}

.header-hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.header-hamburger.active span:nth-child(2) {
  opacity: 0;
}
.header-hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.header .header-ul ul li {
  position: relative;
}

.header .header-ul ul li a {
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
}

.dropdown-content {
  min-width: 800px;
  min-height: 20px !important;
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px !important;
}

.dropdown-content ul li a:hover {
  color: #4934db !important;
  background: #fff;
  border: 0.1px solid #4934db;
}
.dropdown-content ul li a {
  color: #4934db;
  padding: 5px 0;
  display: block !important;
  white-space: nowrap;
  background: #4934db;
  border: 0.1px solid #8a7eda;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

@media (max-width: 1350px) {
  .dropdown-content {
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: none !important;
  }
}
