@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
}
a {
  text-decoration: none;
}
.Projects {
  width: 100%;
  min-height: 100vh !important;
}
.first-section {
  width: 100%;
  background: url("/assets/background-img/Img.png") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  padding: 100px 0;
}
.first-section-container {
  max-width: 1300px;
  height: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center !important;
  justify-content: center !important;
  color: #fff;
}
.first-section h1 {
  font-size: 64px;
  font-weight: 700;
}
.first-section h4 a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.first-section h4 span a {
  color: #97f793;
}
@media (max-width: 768px) {
  .first-section-container {
    width: 100%;
    height: 100%;
  }
  .first-section h1 {
    font-size: 40px;
  }
}
.third-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-section_in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-section-container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.third-section-top {
  width: 100%;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third-section-top-texts {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.third-section-top-texts h4 {
  font-size: 18px;
  font-weight: 700;
  color: #e374ff;
}
.third-section-top-texts h1 {
  font-size: 64px;
  font-weight: 700;
  color: #1a1d27;
}
.third-section-top-btns {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}

.filter-btn.active {
  min-width: 111px;
  padding: 0 30px;
  height: 56px;
  font-size: 15px;
  font-weight: 500;
  background-color: #1a1d27;
  border: 1px solid #1a1d271a;
  color: #fff;
}

.filter-btn {
  min-width: 111px;
  padding: 0 30px;
  height: 56px;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #1a1d271a;
  color: #1a1d27;
}

.third-section-bottom-cards {
  width: 100% !important;
  min-height: 100px !important;
  display: flex;
  flex-wrap: wrap !important;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: -50px !important;
}

.third-section-bottom-cards a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 24px;
}
.third-section-bottom-cards a {
  margin-left: 50px !important;
  margin-bottom: 20px;
  border-radius: 24px;
  width: 590px !important;
  min-height: 408px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.third-section-bottom-card-img {
  width: 100% !important;
  height: 360px !important;
  object-fit: cover;
  border-radius: 24px;
}
.third-section-bottom-card-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.third-section-bottom-card-texts ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-left: 25px;
  list-style-type: square;
}
.third-section-bottom-card-texts h2 {
  font-size: 24px;
  font-weight: 700;
  color: #1a1d27;
}
.third-section-bottom-card-texts p {
  font-size: 16px;
  font-weight: 400;
  color: #1a1d2799;
}
.third-section-bottom-card-texts button {
  width: 136px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 15px;
  font-weight: 500;
  color: #4934db;
  gap: 8px;
  border: none;
  background: #fff;
  margin-top: 10px;
}

@media (max-width: 1350px) {
  .third-section {
    padding: 0 20px !important;
  }
  .second-section {
    width: 93%;
  }
  .third-section-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .third-section-top-texts {
    width: 100% !important;
    height: 100%;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  .third-section-top-texts h1 {
    font-size: 33px !important;
  }
  .third-section-top-btns {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .filter-btn.active {
    min-width: 111px;
    padding: 0 30px;
    height: 56px;
    font-size: 15px;
    font-weight: 500;
    background-color: #1a1d27;
    border: 1px solid #1a1d271a;
    color: #fff;
  }

  .filter-btn {
    min-width: 111px;
    padding: 0 30px;
    height: 56px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #1a1d271a;
    color: #1a1d27;
  }
  .third-section-bottom-card img {
    width: 100% !important;
    max-height: 300px !important;
  }
  .third-section-bottom-cards {
    margin-left: -10px !important;
    width: 100% !important;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 30px !important;
  }
  .third-section-bottom-cards a {
    margin-left: 10px !important;
    width: 550px !important;
    height: 400px !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 10px;
    border-radius: 24px;
  }
  .third-section-bottom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 24px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.openModal {
  cursor: pointer !important;
}
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  width: 250px !important;
  height: auto !important;
  position: relative;
}

.close {
  position: absolute;
  top: -6px;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.third-section-bottom-cards .a {
  display: none;
}

.third-section-bottom-cards .a.show {
  display: block !important;
}