a {
  text-decoration: none;
}
.second-section {
  width: 100%;
}
.second-section_in {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.second-section .second-section-top {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 134px;
}
.second-section-top-img-card {
  width: 526px;
  height: 520px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 134px;
}
.second-section-top-text {
  height: 0px;
  width: 0px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  color: #1a1d27;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.second-section-top-text span {
  font-size: 52px;
  font-weight: 700;
}

.second-section .second-section-top .second-section-top-img {
  width: 416px;
  height: 100%;
}
.second-section .second-section-bottom {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-section .second-section-bottom .second-section-bottom-img {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 120%;
}
.second-section .second-section-bottom .second-section-bottom-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -100px;
}
.second-section .second-section-bottom .second-section-bottom-div div {
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
  margin-left: 100px;
  margin-top: 30px;
}
.second-section .second-section-bottom .second-section-bottom-div div h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  font-variant-numeric: lining-nums;
}
.black-suffix {
  color: #000;
  font-weight: bold;
}

.second-section-bottom-div-h1-span1 {
  color: #97f793 !important;
}

.second-section-bottom-div-h1-span2 {
  color: #e374ff !important;
}

.second-section-bottom-div-h1-span3 {
  color: #4934db !important;
}

.second-section .second-section-top .second-section-top-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 36px;
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-text {
  display: flex;
  align-items: start !important;
  justify-items: start !important;
  flex-direction: column;
  gap: 24px;
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-text
  h1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 64px;
  font-weight: 700;
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-text
  h1
  span
  a {
  font-size: 18px;
  font-weight: 700;
  color: #e374ff !important;
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-text
  p {
  color: #1a1d2799;
}

.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-buttons {
  display: flex;
  align-items: start !important;
  justify-content: start !important;
  gap: 28px;
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-buttons
  button {
  width: 243px;
  height: 56px;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  background: #1a1d27;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-buttons
  button:hover {
  background: #333645;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
.second-section
  .second-section-top
  .second-section-top-right
  .second-section-top-right-buttons
  div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
}

@media (max-width: 1350px) {
  .second-section {
    width: 100%;
    min-height: 100vh;
  }
  .second-section_in {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .second-section .second-section-top {
    width: 100% !important;
    height: auto !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column-reverse;
    gap: 14px;
    text-align: center !important;
  }
  .second-section .second-section-top .second-section-top-img {
    width: 100% !important;
    height: auto !important;
  }
  .second-section-top-img-card {
    width: 100%;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse !important;
    gap: 34px;
  }
  .second-section-top-text {
    height: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    color: #1a1d27;
    transform: rotate(0deg);
    white-space: nowrap;
    margin-bottom: 30px;
  }
  .second-section-top-text span {
    font-size: 52px;
    font-weight: 700;
  }

  .second-section .second-section-top .second-section-top-img {
    width: 416px;
    height: 100%;
  }
  .second-section .second-section-top .second-section-top-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 36px;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text {
    display: flex;
    align-items: center !important;
    justify-items: center !important;
    flex-direction: column;
    gap: 24px;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text
    h1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 40px;
    font-weight: 700;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text
    h1
    span
    a {
    font-size: 15px;
    font-weight: 700;
    color: #e374ff !important;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text
    p {
    color: #1a1d2799;
  }

  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 40px;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons
    button {
    width: 200px !important;
    height: 56px;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    background: #1a1d27;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons
    button:hover {
    background: #333645;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons
    div {
    width: 150px !important;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
  }
  .second-section .second-section-bottom {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-section .second-section-bottom .second-section-bottom-img {
    display: none;
  }
  .second-section .second-section-bottom .second-section-bottom-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .second-section .second-section-bottom .second-section-bottom-div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
  }
  .second-section .second-section-bottom .second-section-bottom-div div h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    font-variant-numeric: lining-nums;
  }
  .second-section
    .second-section-bottom
    .second-section-bottom-div
    div
    h1
    span {
    color: #4934db;
    display: inline-block;
    vertical-align: baseline;
  }
  .second-section
    .second-section-bottom
    .second-section-bottom-div
    .second-section-bottom-div-h1-span1 {
    color: #97f793;
  }
  .second-section
    .second-section-bottom
    .second-section-bottom-div
    .second-section-bottom-div-h1-span2 {
    color: #e374ff;
  }
}
@media (max-width: 768px) {
  .second-section {
    width: 100% !important;
    height: auto !important;
  }
  .second-section .container {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px !important;
    padding: 20px;
  }
  .second-section .second-section-top {
    width: 100% !important;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 14px;
    text-align: center;
  }
  .second-section .second-section-bottom {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-section .second-section-bottom .second-section-bottom-img {
    position: absolute;
    left: 10px;
    display: none;
  }
  .second-section .second-section-bottom .second-section-bottom-div {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 20px;
  }
  .second-section .second-section-bottom .second-section-bottom-div div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .second-section .second-section-bottom .second-section-bottom-div div h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    font-variant-numeric: lining-nums;
    vertical-align: baseline;
    display: flex;
  }
  .second-section .second-section-bottom .second-section-bottom-div div p {
    font-size: 18px;
  }
  .second-section
    .second-section-bottom
    .second-section-bottom-div
    div
    h1
    span {
    color: #4934db;
    display: inline-block;
    vertical-align: baseline;
  }
  .second-section
    .second-section-bottom
    .second-section-bottom-div
    .second-section-bottom-div-h1-span1 {
    color: #97f793;
  }
  .second-section
    .second-section-bottom
    .second-section-bottom-div
    .second-section-bottom-div-h1-span2 {
    color: #e374ff;
  }
  .second-section .second-section-top .second-section-top-img {
    width: 100% !important;
    height: auto !important;
  }
  .second-section-top-img-card {
    width: 100%;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse !important;
    gap: 34px;
  }
  .second-section-top-text {
    height: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    color: #1a1d27;
    transform: rotate(0deg);
    white-space: nowrap;
    margin-bottom: 30px;
  }
  .second-section-top-text span {
    font-size: 52px;
    font-weight: 700;
  }

  .second-section .second-section-top .second-section-top-img {
    width: 416px;
    height: 100%;
  }
  .second-section .second-section-top .second-section-top-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 36px;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text {
    display: flex;
    align-items: start !important;
    justify-items: start !important;
    flex-direction: column;
    gap: 24px;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text
    h1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 40px;
    font-weight: 700;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text
    h1
    span
    a {
    font-size: 15px;
    font-weight: 700;
    color: #e374ff !important;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-text
    p {
    color: #1a1d2799;
  }

  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons
    button {
    width: 100%;
    height: 56px;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    background: #1a1d27;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons
    button:hover {
    background: #333645;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  .second-section
    .second-section-top
    .second-section-top-right
    .second-section-top-right-buttons
    div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#openModal {
  cursor: pointer !important;
}
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  width: 1270px !important;
  height: auto !important;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
