@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
}
a {
  text-decoration: none;
}
.Service-small {
  background: #fff;
  width: 100%;
  min-height: 100vh;
}
.first-section {
  width: 100%;
  background: url("/assets/background-img/Img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.first-section-container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center !important;
  justify-content: center !important;
  color: #fff;
}
.first-section h1 {
  font-size: 64px;
  font-weight: 700;
}
.first-section h4 a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.first-section h4 span a {
  color: #97f793;
}
@media (max-width: 768px) {
  .first-section-container {
    width: 100%;
    height: 100%;
  }
  .first-section h1 {
    font-size: 40px !important;
  }
}

.faq-section {
  width: 100% !important;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 1rem;
  color: #333;
}

.faq-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eceef2;
}

.faq-question {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
}

.faq-question:hover {
  color: #000000;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding: 0 1rem;
}

.faq-answer p {
  margin: 0;
  padding: 1rem 0;
  color: #1a1d27cc;
}

.faq-question.active .faq-icon {
  transform: rotate(180deg);
}

.faq-question.active + .faq-answer {
  max-height: 500px;
}

.third-second {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-second_in {
  display: flex;
  gap: 30px;
  align-items: start !important;
  justify-content: center;
}
.third-second-left {
  width: 856px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.third-second-right {
  width: 416px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.third-second-left img {
  width: 100%;
  height: auto;
}
.third-second-left-texts1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.third-second-left-texts1 h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1a1d27;
}
.third-second-left-texts1 p {
  font-size: 16px;
  font-weight: 400;
  color: #1a1d27cc;
}
.third-second-left-cards {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.third-second-left-card {
  width: 400px;
  height: 190px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  background: #eceef2;
  border-radius: 12px;
  padding: 40px 25px;
  margin: auto;
}
.third-second-left-card img {
  width: 60px;
  height: 60px;
}
.third-second-left-card div {
  width: 284px;
  height: 100%;
}
.third-second-left-card div h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1a1d27;
}
.third-second-left-card div p {
  font-size: 16px;
  font-weight: 400;
  color: #1a1d2799;
}
.third-second-left-texts2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.third-second-right-top {
  width: 416px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #1a1d271a;
  padding: 30px;
}
.third-second-right-top h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1a1d27;
}
.third-second-right-top div {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid #1a1d27;
  color: #1a1d2766 !important;
}
.third-second-right-top div input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none !important;
  font-size: 16px;
  font-weight: 400;
}
.third-second-right-center {
  width: 100%;
  height: 520px;
  border-radius: 16px;
  border: 1px solid #1a1d271a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 12px;
}
.third-second-right-center h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1a1d27;
}
.third-second-right-center div {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #1a1d27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eceef2;
}
.third-second-right-bottom {
  width: 100%;
  height: 192px;
}
@media (max-width: 768px) {
  .third-second-left-cards {
    flex-direction: column !important;
  }
  .third-second-left-card {
    width: 100% !important;
    height: 260px !important;
    flex-direction: column !important;
  }
}
@media (max-width: 1350px) {
  .third-second .third-second_in {
    width: 100% !important;
    flex-direction: column !important;
    margin-top: -50px;
    padding: 0 !important;
  }
  .third-second-left {
    width: 100% !important;
  }
  .third-second-right {
    width: 100% !important;
  }
  .third-second-left-card {
    width: 45%;
    min-height: 190px !important;
  }
  .third-second-right-top {
    width: 100% !important;
  }
  .third-second-right-center {
    width: 100% !important;
  }
  .third-second-right-bottom {
    width: 100% !important;
  }
  .third-second-right-top div input {
    width: 50% !important;
  }
  .third-second-right-bottom {
    width: 100% !important;
    height: auto;
  }
}
